# Preprocessing transactions.csv Part 1

In [4]:
import numpy as np
import pandas as pd
import boto3
import matplotlib.pyplot as plt
import seaborn as sns
import os
import datetime

pd.options.display.float_format = '{:.4f}'.format

### Loading Data via S3

In [ ]:
bucket='ads-508-group-6-raw'
data_key = 'transactions.csv'

s3 = boto3.client('s3')
transactions_obj = s3.get_object(Bucket = bucket, Key = data_key)

transactions_df = pd.read_csv(transactions_obj['Body'])

### Loading Data Locally

In [5]:
transactions_df = pd.read_csv("C:\\Users\\garyb\\OneDrive\\Documents\\GitHub\\recommendation-engine\\data\\transactions_train.csv")

In [6]:
transactions_df.head()

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.0508,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.0305,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.0152,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.0169,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.0169,2

### Recast Variables

In [7]:
transactions_df['t_dat'] = pd.to_datetime(transactions_df['t_dat'], format='%Y-%m-%d')

### Split Dataset

Since we are trying to predict whether or not a customer will churn, the dataset needs to be split to prevent data leakage in our predictor variables. For the purposes of defining churn, we will be attempting to predict whether Q1 customers will churn in Q2 of 2022.

In [8]:
target_label_df = transactions_df.loc[(transactions_df['t_dat'] >= '2020-04-01') & (transactions_df['t_dat'] <= '2020-06-30')]

In [9]:
target_label_df.to_csv("C:\\Users\\garyb\\OneDrive\\Documents\\GitHub\\recommendation-engine\\data\\target_labels.csv", 
                       index = False)

In [10]:
transactions_population_df = transactions_df.loc[(transactions_df['t_dat'] >= '2020-01-01') & (transactions_df['t_dat'] <= '2020-03-31')]

In [11]:
transactions_population_df.to_csv("C:\\Users\\garyb\\OneDrive\\Documents\\GitHub\\recommendation-engine\\data\\population_transactions.csv", 
                       index = False)

In [12]:
historical_transactions_df = transactions_df.loc[(transactions_df['t_dat'] <= '2020-03-31')]

In [13]:
historical_transactions_df.to_csv("C:\\Users\\garyb\\OneDrive\\Documents\\GitHub\\recommendation-engine\\data\\historical_transactions.csv", 
                       index = False)